/*
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: home component
========================================================
*/

/* Styling for main heading */
.main-welcome {
    margin-top: 30px;
    margin-bottom: 20px;
  }

/* Styling for title */
.title {
  text-align: center;
  font-size: 54px;
  padding-top: 30px;
  font-family: Garamond, serif;
}

/* Styling for subtitle */
.subtitle {
    text-align: center;
    font-size: 30px;
    font-family: Garamond, serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 30px;
  }



/* Card styling */

/* Title */
.mat-card-title{
    font-size: 20px;
    text-align: center;
  }

/* Container */
.task-container{
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;

  }

/* Task Column */
.task-column{

    min-height: 40px;
    background-color: whitesmoke;
    overflow: hidden;
    display: block;
}

/* Cards */
.task-card{
  cursor: pointer;
  padding: 20px 10px;
  min-height: 40px;
  height: 60px;
  font-size: 24px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-family: Garamond, serif;
  background-color: whitesmoke;


}

/* Tasks */
.tasks{
  font-size: 20px;
  line-height: 1.5;
  background-color: whitesmoke;


}

/* List */
.lists{
  font-family: Garamond, serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  padding: 2px;
  background-color: whitesmoke;


}

/* Button Styling to add task */
.add-task{
  font-size: 20px;
  font-family: Garamond, serif;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;

}

.card{
  background-color: whitesmoke;

}
