<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: baselayout
========================================================
-->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex style="box-shadow: 0 0 4px 0;">
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>Nodebucket</button>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link"  routerLink="/about" mat-button>About Us</button>
        <button class="navbar-link" routerLink="/contact" mat-button>Contact Us</button>
      </div>

      <!-- User icon with dropdown information on navbar -->
      <div *ngIf="isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
          <mat-icon>perm_identity</mat-icon>
        </button>


      <mat-menu #profileMenu >
        <p class="profile" style="padding: 10px;">Signed in as <strong>{{ name }}</strong></p> <!--this is not displaying-->
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="signOut()"> <!-- allows user to sign out and return to sign in page -->
          <mat-icon>logout</mat-icon>
          <span class="profile">Sign Out</span>
        </button>
      </mat-menu>
    </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex class="background">
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex class="background">
    <footer class="footer" >
      <mat-toolbar class="footer-content">
        <p>
         &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
