<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: not found component
========================================================
-->

<!-- card to hold all content -->
<div class="page" fxLayout="column">

  <mat-card class="signin" fxFlex>
<!-- card title and subtitle -->
    <mat-card-title class="title">
      <span class="material-icons">remove</span>
        404 PAGE NOT FOUND
      <span class="material-icons">remove</span>
    </mat-card-title>
    <hr>
    <br/>
    <mat-card-subtitle class="subtitle">
      Looks like we are taking the day off!
      <br/>
      <br/>
      <small>Just kidding...</small>
    </mat-card-subtitle>
    <h1 class="message">
      <strong>Return home and try again...</strong>
      <br/>
      <br/>
      <span class="material-icons">
        arrow_downward
      </span>
      </h1>
    <mat-card-content>
      <button class="button" mat-raised-button color='primary' routerLink='/'>Return Home</button> <!-- Return Home button-->
    </mat-card-content>
  </mat-card>

</div>
