<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: baselayout
========================================================
-->

<!-- Add new task dialog-->
<h2 class="title" mat-dialog-title>Add to My To-Do List</h2>

<!-- form to allow user to enter task-->
<mat-dialog-content class="content" [formGroup]="taskForm">
  <mat-form-field class="input" style="width: 200px;">
    <input type="text" placeholder="To-Do List Item" matInput formControlName="text" (keydown.enter)="createTask()">
  </mat-form-field>
</mat-dialog-content>

<!-- Button to create task and send to TODO list-->
<mat-dialog-actions align="end">
  <button class="button" mat-button (click)="cancel()">Cancel</button>
  <button class="button" mat-button [disabled]="!taskForm.valid" (click)="createTask()">Add Item</button>
</mat-dialog-actions>
