<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: about component
========================================================
-->

<!-- Main Welcome-->
<div fxLayout="column">
  <div fxFlex class="main-welcome">
    <h1 class="title">About Us</h1>
    <hr>
  </div>

<!-- Main container-->
<div fxFlex class="contact-container">

  <!-- Left hand card for navigation information-->
  <div fxLayout="row-wrap" fxLayoutGap="15px">
    <mat-card fxFlex class="card">
      <mat-card-title>

      </mat-card-title>
      <br/>
      <mat-card-content>
        <p style="float:left;" class="content">
          Nodebucket began as a small start-up in a stay at home mom’s basement. With all the distractions around her, pregnancy brain, and a thousand tasks on her mind, she thought, why not create an application to help me remember my to-do list? It was then that Nodebucket was created. Nodebucket was designed to help, not only stay at home moms, but everyone around the world. We all keep a to-do list in our head, Nodebucket allows visual representation of that to-do list while displaying what is already done, to encourage users and to show progress.
          <br/><br/>Our founder grew up in the Midwest and graduated from Bellevue University becoming a web developer. Growing her family and her skills she believed in creating applications that were simple and could help make life easier for the user.
          <br/><br/>Although Nodebucket comes from humble beginnings, this small startup has grown and reached the top chart for applications in the United States. With more than a million to-do lists in existence and more than three thousand new lists created each day. Nodebucket is helping organize the world one list at a time.
          <br/><br/>At Nodebucket we believe in creating great applications and greater relationships. Whether it’s working with clients or working with each other, we want to create a safe, creative and productive atmosphere. Nodebucket may have started as just a few lists but is currently expanding to offer more organizational applications for its users. Nodebucket will soon offer an interactive calendar with reminders, grocery list maker with the ability to connect to local stores and do a quick pick up and also a Christmas list maker to send to all your relatives and friends. Stay tuned for more amazing things from Nodebucket!
        </p>

        <img src="../../../assets/aboutusphoto.jpg" alt="Mom and Daughter at Computer Desk" class="photo"/>
        <a href="https://unsplash.com/@ergonofis" style="margin-left: 22px; font-family: Garamond, serif; color: dimgrey;">Unsplash</a>

      </mat-card-content>
    </mat-card>
