<!--
=======================================================
  Title: Nodebucket
  Author: Professor Krasso
  Date: 11/03/2021
  Modified by: Sarah Jean Baptiste
  Description: sign in component
========================================================
-->

<!-- card to hold all content -->
<div class="page" fxLayout="column">

  <mat-card class="signin" fxFlex>
<!-- card title and subtitle -->
    <mat-card-title class="title">
      Employee Sign-in Page
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      You must enter a valid employee ID to proceed
    </mat-card-subtitle>

    <!-- form feild for user to enter id -->
    <form [formGroup]="form" (ngSubmit)="login(); form.reset();">
      <mat-card-content>
        <mat-form-field appearance="fill" class="form-field">
          <input
          matInput [formControl]="form.controls['empId']"
          placeholder="Employee ID"/>

          <mat-hint fxFlex *ngIf="error">{{ error }}</mat-hint> <!-- User receives error upon invalid ID-->
        </mat-form-field>
      </mat-card-content>

      <!-- button to sign in with valid id -->
      <mat-card-actions>
        <button class="button" color="primary" mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>
      </mat-card-actions>
    </form>

  </mat-card>

</div>
